<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="de.vagtsi.examples.rap.application.RapApplicationWorkbench"
            id="de.vagtsi.examples.rap.application.workbench"
            path="/de.vagtsi.examples.rap.application.workbench">
      </entrypoint>
   </extension>
   <extension
         id="de.vagtsi.examples.rap.application.view"
         name="RAP Application View"
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.vagtsi.examples.rap.application.RapApplicationPerspective"
            id="de.vagtsi.examples.rap.application.perspective"
            name="RAP Application Perspective">
      </perspective>
   </extension>

</plugin>
